body{
    font-family: Arial, sans-serif;
    background-color: lightblue;
}
h1{
    color: rgb(3, 3, 111)
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(50, 50, 50);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;

}

label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(144, 17, 17);
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px, 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(115, 13, 13);

}

#result{
    font-size: 1.75em;
    font-weight: bold;
}