body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(182, 196, 211);
}

#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;

}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(9, 217, 9);
}
#startBtn:hover{
    background-color: rgb(7, 173, 7);  
}
#stopBtn{
    background-color: rgb(217, 2, 2);
}
#stopBtn:hover{
    background-color: rgb(175, 3, 3);  
}#resetBtn{
    background-color: rgb(7, 156, 225);
}
#resetBtn:hover{
    background-color: rgb(6, 123, 176);  
}