body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.299);
    border-radius: 10px;
    margin: 15px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(27, 111, 189, 0.878);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgba(23, 86, 145, 0.878);
}
.card{
    background: linear-gradient(180deg, rgb(129, 202, 248), rgb(255, 207, 117));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1{
    margin-top: 0;
    margin-bottom: 25px;

}
p{
    font-size: 1.25rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-weight: bold;
    font-size: 1.5rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 6rem;
}
.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
}